
@{
    ViewData["Title"] = "Index";
}
<div class="text-center text-secondary">
    <div>&nbsp</div>
    <h2> Welcome to Product Management System</h2>
    <h4> Md. Iquball Hossain</h4>
    <h5> 01777044834</h5>
    <h6> First Insert Category Details and then Product Information</h6>
</div>

