@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <div>&nbsp</div>
        <h4>Products</h4>
        <div>&nbsp</div>
        <div class="d-flex justify-content-center mb-1">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Products">Create new</a>
        </div>
        <div>&nbsp</div>
        <table class="table table-bordered">
            <thead class="bg-light">
                <tr>
                    <th>Product Name</th>
                    <th>Unit Price</th>
                    <th>Catagory</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var p in Model)
                {
                    <tr>
                        <td>@p.ProductName</td>
                        <td>@p.UnitPrice</td>
                        <td>@p.Catagory.CatagoryName</td>
                        <td>
                            <a class="btn btn-success btn-sm" asp-action="Edit" asp-controller="Products" asp-route-id="@p.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

