@model IEnumerable<Catagory>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <div>&nbsp</div>
        <h3>Categories</h3>
        <div>&nbsp</div>
        <div class="d-flex justify-content-center mb-2">
            <a class="btn btn-primary btn-sm" asp-controller="Catagories" asp-action="Create">Create New</a>
        </div>
        <div>&nbsp</div>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td>@c.CatagoryName</td>
                        <td>@c.Description</td>
                        <td class="text-center">
                            <a class="btn btn-success btn-sm" asp-controller="Catagories" asp-action="Edit" asp-route-id="@c.Id">Edit</a>
                            <a class="btn btn-danger btn-sm" asp-controller="Catagories" asp-action="Delete" asp-route-id="@c.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

